@tailwind base;
@tailwind components;
@tailwind utilities;


@import "swiper/css";
@import "swiper/css/pagination";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.left-section {
  background-image: url('../../public/assets/image/bg2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.right-section {
  font-family: "Noto Sans Thai", serif;
}